.errore {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    /* background: white; */
    padding: 0 1rem;

    .container {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        :is(img) {
            width: 30vw;
        }

        p {
            font-size: 1.02rem;
            color: #555;
        }

        .btns {
            width: 400px;
            height: 60px;
            /* background: yellow; */
            margin: 5px auto;
            margin-top: 3rem;

            .btn {
                padding: 6px 10px;
                border-radius: 15px;
                /* background: rgb(0, 255, 132); */
                margin: 4px 25px;
                color: rgb(21, 0, 255);
                border: 1px solid rgb(21, 0, 255);
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}
@media only screen and (max-width: 500px) {

    .errore {
      /* border: 1px solid red; */

        .container {

            :is(img) {
                width: 100%;
            }

            p {
                font-size: 0.9rem;
                color: #555;
            }
        }
    }
}