.report {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.report .cont {
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 20px;
}

.report .cont>span {
    padding: 0px 20px;
    /* border: 1px solid rgb(6, 199, 252); */
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report .cont>span:nth-child(1) {
    background: #f0f0f0;
    box-shadow: 0 0 5px #fff,
        5px 5px 10px #a7aaaf,
        -5px -5px 10px #fff;
    border-radius: 20px;
    border: 2px solid rgb(15, 157, 196);
}

.report .cont>span:nth-child(1) span {
    display: inline-block;
    padding: 8px 5px;
    border-radius: 20px;
    /* border: 1px solid red; */
    margin: 0 10px;
}

.report .cont>span:nth-child(1) span input,
.report .cont>span:nth-child(1) span select,
.report .cont>span:nth-child(1) button {
    border: none;
    background: none;
    text-align: center;
    height: 30px;
    margin-left: 10px;
    padding: 0 10px;
    border-radius: 10px;
    border: 2px solid rgb(6, 199, 252);
}

.report .cont>span:nth-child(1) button {
    background: rgb(0, 204, 255);
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 0 5px;
}

.report .cont>span:nth-child(1) span select {
    text-transform: capitalize;
}

.report .cont>span:nth-child(1) span i {
    width: 30px;
    height: 30px;
    background: rgb(0, 204, 255);
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}

.report .cont>span:nth-child(2) button {
    border: none;
    outline: none;
    background: rgb(0, 204, 255);
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5px #fff,
        5px 5px 10px #a7aaaf,
        -5px -5px 10px #fff;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: 600;
    margin: 0 10px;
    transition: 0.1s;
}

.report .cont>span:nth-child(2) button:hover,
.report .cont>span:nth-child(1) span i:hover {
    background: rgb(2, 143, 218);
    transform: scale(0.95);
}

.report .table {
    width: 100%;
    /* border: 1px solid rgb(12, 123, 241); */
    padding: 5px 20px;
    height: calc(100% - 80px);
    overflow: auto;
    position: relative;
}

.report .table table {
    width: 100%;
    /* height: 100%; */
    /* border: 1px solid blue; */
    border-collapse: collapse;
}
.report .table table thead{
    position: sticky;
    top: -7px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
}

.report .table table th:nth-child(1) {
    width: 50px;
}

.report .table table th:nth-child(2) {
    width: 220px;
}

.report .table table th:nth-child(3) {
    width: 110px;
}

.report .table table th:nth-child(5) {
    width: 110px;
}

.report .table table tr td:nth-child(2) {
    text-transform: capitalize;
    letter-spacing: .5px;
}

.report .table table td {
    border: 1px solid rgb(190, 185, 185);
    text-align: center;

}

.report .table table tbody tr {
    height: 25px;
}

.report .table table th,
.report #foot {
    height: 30px;
    font-size: 1.1em;
    font-weight: 600;
    color: white;
    background: rgb(3, 74, 150);
    border-radius: 35px;
}

.report #bottom,
.report #top {
    position: absolute;
    right: 20px;
    z-index: 10;
    opacity: 0.3;
}

.report #bottom:hover,
.report #top:hover {
    opacity: 1;
}

.report #bottom i,
.report #top i {
    display: inline-block;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 1.8em;
    height: 40px;
    background: rgb(0, 204, 255);
    color: white;
}

.report #bottom {
    top: 120px;
}

.report #top {
    bottom: 40px;
}

@media print {
    .main {
        position: absolute;
        height: auto;
        width: 100%;
        left: 0;
        top: 0;
        overflow: visible;
    }

    .sidebar,
    .nav,
    .report .cont,
    .scrol {
        display: none;
    }

    .report .table {
        overflow: visible;
    }

    .report .table table tbody tr {
        height: 30px;
    }
}

@media only screen and (max-width: 600px) {

    .report .cont {
        /* border: 3px solid red; */
        padding: 0px 5px;
        font-size: 10px;
        height: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

    }

    .report .cont>span {
        padding: 0px 5px;
        /* border: 1px solid red; */
    }

    .report .cont>span span:nth-child(3) select {
        width: 180px;
    }
    .report .cont>span span:nth-child(4) i {
        width: 90px;
        font-size: 2.3em;
    }

    .report .cont>span:nth-child(1) {
        display: inline-block;
        width: 98%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .report .cont>span:nth-child(1) span {
        padding: 4px 2px;
        margin: 0 4px;
    }
    .report .table {
        padding: 5px 8px;
    }
    .report .table #table th{
      font-size: 12px;
    }
    .report .table td{
        font-size: 8px;
    }
    .report .table table th:nth-child(1) {
        width: 30px;
    }
    
    .report .table table th:nth-child(2) {
        width: 70px;
    }
    
    .report .table table th:nth-child(3) {
        width: 60px;
    }
    
    .report .table table th:nth-child(4) {
        width: 180px;
    }
    
    .report .table table th:nth-child(5) {
        width: 70px;
    }
}