.exp,
.adminexp,
.allusers.admin {
    /* border: 3px solid blue; */
    width: 100%;
    min-height: 100%;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    padding: 0 1rem;
    color: var(--color);


    &.caps {
        text-transform: capitalize !important;
    }

    & .add {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: 5px;
        margin-bottom: 2px;

        .btne {
            background: var(--maincolor);

            &:hover {
                background: var(--hovercolor);
            }
        }
    }

    & .head {
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
        position: relative;
        /* border: 1px solid red; */
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--maincolor);

        & span {
            /* border: 1px solid red; */
            color: rgb(39, 34, 34);
            color: white;
            display: inline-block;
            padding: 5px;
            font-weight: 700;

            &:nth-child(2) select,
            &:nth-child(3) input {
                width: 110px;
                outline: none;
                border: none;
                height: 30px;
                border-radius: 7px;
                text-align: center;
                /* padding-left: 5px; */
                padding: 0 5px;
            }

            &:nth-child(3) input {
                width: 210px;
            }
        }
    }

    & .mater td {
        text-transform: capitalize;
    }

    & .table {
        width: 100%;
        position: relative;
        /* border: 1px solid red; */

        .header {
            width: 100%;
            height: 40px;
            background: var(--maincolor);
            border-top: 1px solid grey;
            color: white;
            text-transform: capitalize;
            letter-spacing: 0.5px;
            display: flex;
            font-weight: 700;

            >span {
                display: flex;
                padding-left: 4px;
                font-size: 15px;
                justify-content: space-between;
                align-items: center;
                border-right: 1px solid grey;
                border-left: 1px solid grey;
                /* border: 1px solid red; */

                i {
                    /* border: 1px solid red; */
                    display: flex;
                    align-items: center;
                }
            }
        }

        .header,
        .body {
            div{
                display: flex;
            }
            >span {
                /* border: 1px solid red; */
            }

            & span:nth-child(1) {
                width: 50px;
                /* border: 1px solid red; */
            }

            & span:nth-child(2) {
                width: 125px;
                /* text-align: start; */
                /* border: 1px solid red; */
            }

            & span:nth-child(3) {
                width: 90px;
                /* border: 1px solid black; */
            }

            & span:nth-child(4) {
                /* width: 980px; */
                flex-grow: 1;
                /* border: 1px solid red; */
            }

            & span:nth-child(5) {
                width: 105px;
                /* border: 1px solid black; */
            }

            & span:nth-child(6) {
                width: 70px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                /* border: 1px solid red; */

                i {
                    cursor: pointer;
                    text-align: center;
                    transition: 0.1s;
                    color: var(--contrast);

                    &:last-child {
                        color: red;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            & span:nth-child(7) {
                width: 35px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                /* border: 1px solid black; */
            }
        }

        .body {

            div {
                border-bottom: 0.5px solid var(--tableborder);
                display: flex;
                justify-content: space-between;

                span {
                    padding: 5px 0;
                    /* border: 1px solid red; */
                    /* border: 1px solid var(--tableborder); */
                    text-align: center;
                    font-size: 14px;
                    color: var(--color);
    
                    &:nth-child(6) {
                        border-right: 1px solid rgb(183, 182, 182);
                        border-left: 1px solid rgb(183, 182, 182);
                    }
                }
            }
        }

        #foot {
            background: var(--maincolor);

            span {
                color: antiquewhite;
            }
        }
    }

    & .foot {
        margin-top: 10px;
        border-radius: 5px;
        width: 100%;
        position: relative;
        height: 40px;
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: var(--background);
        border: 1px dotted var(--color);

        & .pages {
            display: inline-block;
            margin: 0 10px;
            width: 35px;
            transition: 0.2s;
            height: 28px;
            line-height: 25px;
            text-align: center;
            background: white;
            border: 1px solid grey;
            color: grey;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 3px 3px 8px rgb(0 0 0 / 40%);

            &:hover,
            &.active {
                background: var(--maincolor);
                color: white;
                font-weight: 700;
            }
        }

        & i {
            background: none;
            border: none;
            outline: none;
            background: var(--maincolor);
            color: white;
            font-size: 1.1em;
            height: 28px;
            text-align: center;
            line-height: 25px;
            padding: 0 10px;
            margin: 0 5px;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.1s;

            &:hover {
                transform: scale(1.1);
                background: var(--maincolor);
            }
        }

        & tr td:nth-child(2) {
            text-transform: capitalize;
        }
    }

    @media only screen and (max-width: 600px) {
        padding: 0 10px;
        padding-bottom: 30px;

        & .add {
            height: 40px;
            margin: 5px 0;
            justify-content: center;

            .btne {
                width: 50vw;
            }
        }

        & .head {
            width: 100%;
            height: 55px;
            font-size: 14px;

            span:nth-child(1) {
                display: none;
            }

            span:nth-child(2) select,
            span:nth-child(3) input {
                width: 110px;
                height: 28px;
            }

            span:nth-child(3) input {
                width: 170px;
            }
        }


        & .table {

            .header,
            .body {
                & span:nth-child(1) {
                    min-width: 30px;
                    /* border: 1px solid red; */
                }

                & span:nth-child(2) {
                    min-width: 65px;
                    /* border: 1px solid red; */
                }

                & span:nth-child(3) {
                    min-width: 40px;
                    /* border: 1px solid red; */
                }

                & span:nth-child(4) {
                    width: 850px;
                    /* border: 1px solid red; */
                }

                & span:nth-child(5) {
                    min-width: 60px;
                    /* border: 1px solid red; */
                }

                & span:nth-child(6) {
                    min-width: 38px;
                    /* border: 1px solid red; */
                }

                & span:nth-child(7) {
                    min-width: 20px;
                    /* border: 1px solid red; */

                    & input[type=checkbox] {
                        width: 11px;
                    }
                }
            }

            .header {
                >span {
                    display: flex;
                    justify-content: space-around;
                    font-size: 10px;
                    padding-left: 0px;

                    i {
                        * {
                            font-size: 16px;
                        }
                    }
                }

            }

            .body {
                div {
                    span {
                        font-size: 9px;
                    }
                }
            }
        }

        & .foot {
            height: min-content;
            padding: 0px 5px;
            display: flex;
            font-size: 10px;
            justify-content: space-between;
            align-items: center;
            border: 1px solid grey;

            .pages {
                margin: 0 8px;
                width: 30px;
                height: 25px;
                line-height: 23px;
            }

            i,
            .pages.active {
                font-size: 1.2em;
                width: 35px;
                text-align: center;
                /* line-height: 20px; */
            }

            >span:nth-child(1) {
                width: 100%;
                padding: 5px 0;
                /* border: 1px solid red; */
                text-align: center;
            }

            >span:nth-child(2) {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 5px 0;
                /* border: 1px solid red; */
                text-align: center;

                >span {

                    i {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.exp.ismodal {
    height: calc(100vh - (var(--navheight) + var(--footerheight)));
    overflow: hidden;

    @media only screen and (max-width: 600px) {
        .exp.ismodal {
            height: calc(100vh - (var(--navheightmobile) + var(--footerheightmobile)));
        }
    }
}