.exp {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    padding: 0 2rem;
}

.exp .add {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
    margin-bottom: 5px;
}

.exp .add i {
    display: inline-block;
    /* border: 1px solid red; */
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 2.6em;
    transition: 0.1s;
    text-align: center;
    line-height: 50px;
    background: #0984e3;
    border-radius: 11px;
    color: white;
}

.exp .add i:hover {
    transform: scale(1.03);
}

.exp .head {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    position: relative;
    /* border: 1px solid red; */
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(179.4deg, rgba(33, 150, 243, 1) 1.8%, rgba(22, 255, 245, 0.60) 97.1%);
}

.exp .head span {
    /* border: 1px solid red; */
    color: rgb(39, 34, 34);
    display: inline-block;
    padding: 5px;
    font-weight: 700;
}

.exp .head span:nth-child(2) select,
.exp .head span:nth-child(3) input {
    width: 110px;
    outline: none;
    border: none;
    height: 30px;
    border-radius: 7px;
    text-align: center;
}

.exp .head span:nth-child(3) input {
    width: 210px;
}

.exp .mater td {
    text-transform: capitalize;
}

.exp .table {
    width: 100%;
    position: relative;
    /* border: 1px solid red; */
}

.exp .table table {
    width: 100%;
    border-collapse: collapse;
}


.exp .table table th,
.exp .table table td {
    border: 1px solid rgb(190, 185, 185);
    text-align: center;
    cursor: pointer;
}

.exp .table table thead th,
.exp .table table #foot th {
    height: 30px;
    /* color: #0984e3; */
}
.exp .table thead i{
    /* background-color: red; */
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    text-align: center;
    margin-left: 2px;
    font-weight: 100;
}
.exp .table thead th.active {
color: rgb(54, 19, 250);
}
.exp .table table thead,
.exp .table table #foot {
    position: sticky;
    background:#0984e3;
    color: whitesmoke;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
 }
 .exp .table table #foot{
   bottom: 5px;
 }
 .exp .table table thead{
    top: 0;
 }

.exp .table table th:nth-child(1),
.exp .table table th:nth-child(6),
.exp .table table th:nth-child(7),
.exp .table table th:nth-child(8),
.exp .table table th:nth-child(9) {
    width: 50px;
}

.exp .table table th:nth-child(3),
.exp .table table th:nth-child(5) {
    width: 90px;
}

.exp .table table th:nth-child(2) {
    width: 140px;
}

.exp .table table td {
    font-size: 0.9em;
    height: 25px;
    line-height: 25px;
}

.fa-eye,
.fa-pencil,
.fa-trash-o {
    font-size: 1.3em;
    transition: 0.1s;
    width: 100%;
}

.exp .fa-eye {
    color: #95afc0;
}

.exp .fa-pencil {
    color: #22a6b3;
}

.exp table .fa-trash-o,
.exp table .fa-trash {
    color: #eb4d4b;

}

.exp table .fa-trash {
    font-size: 1.5em;
    transform: rotate(20deg);
    transition: 0.1s;
}

.exp table .fa-trash:hover {
    font-size: 1.6em;
    color: #13adfa;
}

.exp .fa-pencil:hover,
.exp .fa-eye:hover,
.exp .fa-trash-o:hover {
    transform: scale(1.2);
}

.exp .foot {
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    position: relative;
    /* border: 1px solid red; */
    height: 40px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dbe1e6;
    box-shadow: 0 0 5px #fff, 5px 5px 10px #a7aaaf, -5px -5px 10px #fff;
}

.exp .foot .pages {
    display: inline-block;
    margin: 0 5px;
    width: 35px;
    cursor: pointer;
    transition: 0.2s;
    height: 28px;
    line-height: 25px;
    text-align: center;
    background: white;
    border: 1px solid grey;
    color: grey;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgb(0 0 0 / 40%);
}

.exp .foot .pages:hover,
.exp .foot .pages.active {
    background: grey;
    color: white;
}

.exp .foot i {
    background: none;
    border: none;
    outline: none;
    background: #1886bd;
    color: white;
    /* font-weight: 600; */
    font-size: 1.1em;
    height: 28px;
    text-align: center;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}

.exp .foot i:hover {
    transform: scale(1.1);
    background: #13adfa;
}

.exp tr td:nth-child(2) {
    text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
    .exp {
        padding: 0 15px;
        padding-bottom: 30px;
    }
    .exp .add {
        height: 40px;
    }
    
    .exp .add i {
        width: 40px;
        height: 40px;
        font-size: 2.1em;
        line-height: 42px;
    }
    .exp .head {
        width: 100%;
        height: 55px;
        font-size: 14px;
    }

    .exp .head span:nth-child(1) {
        display: none;
    }

    .exp .head span:nth-child(2) select,
    .exp .head span:nth-child(3) input {
        width: 110px;
        height: 30px;
    }

    .exp .head span:nth-child(3) input {
        width: 170px;
    }
    .exp .table th{
        font-size: 12px;
    }
    .exp .table #tablecontent {
        font-size: 0.6em;
    }

    .exp .table table th:nth-child(1),
    .exp .table table th:nth-child(6),
    .exp .table table th:nth-child(7),
    .exp .table table th:nth-child(8),
    .exp .table table th:nth-child(9) {
        width: 30px;
    }
    
    .exp .table table th:nth-child(3) {
        width: 50px;
    }
    .exp .table table th:nth-child(5) {
        width: 80px;
    }
    
    .exp .table table th:nth-child(2) {
        width: 70px;
    }
    .exp .table table th:nth-child(4) {
        width: 160px;
    }
    .exp .foot {
        height: 80px;
        padding: 0px 5px;
        display: flex;
        font-size: 10px;
    }
    .exp .foot .pages {
        margin: 0 2px;
        width: 25px;
        height: 18px;
        line-height: 17px;
    }
}