.exp .modal, .adminexp .modal, .allusers.admin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);


    .box {
        position: relative;
        top: 50%;
        left: 50%;
        width: 500px;
        padding-bottom: 20px;
        border-radius: 20px;
        transform: translate(-50%, -50%);
        background: #f0f0f0;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;


        h1 {
            width: 100%;
            height: 50px;
            line-height: 50px;
            color: white;
            letter-spacing: 2px;
            text-align: center;
            background: var(--maincolor);
        }

        .ledgeredit {
            position: absolute;
            top: 8px;
            right: 20px;
            background: white;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border-radius: 50%;
            cursor: pointer;

            i {
                font-size: 20px;
            }
        }

        .btn {
            width: 100%;
            display: flex;
            justify-content: space-around;
            /* border: 1px solid red; */
        }
    }

    .box.shake {
        animation: aniok 0.4s linear forwards;
    }
}

@keyframes aniok {
    0% {
        transform: translate(-48%, -50%);
    }

    20% {
        transform: translate(-52%, -50%);
    }

    40% {
        transform: translate(-47%, -50%);
    }

    60% {
        transform: translate(-53%, -50%);
    }

    80% {
        transform: translate(-49%, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width:600px) {
    .exp, .adminexp {

        .modal {

            .box {
                top: 40%;
                width: 95vw;
                padding-bottom: 15px;

                h1 {
                   letter-spacing: 1px;
                 }

                .ledgeredit {
                    right: 20px;
                }
            }
        }
    }
}