.nav {
    position: fixed;
    top: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    z-index: 600;

    .cont {
        display: flex;
        align-items: center;

        .navicon {
            /* outline: auto; */
            width: 50px;
            font-size: 2.6em;
            transition: 0.1s;
            cursor: pointer;

            &:hover {
                font-size: 2.7em;
                color: var(--hovercolor);
            }
        }

        span {
            font-size: 1.4em;
            font-weight: 500;
        }
    }

    .info {
        display: flex;
        align-items: center;
        height: 60px;
        gap: 6px;

        .photo {
            border: 1px solid grey;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .userinfo {
            max-width: 150px;
            padding: 0 6px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            div {
                width: 100%;
                text-transform: capitalize;
                line-height: 16px;
                font-weight: 500;
                padding-left: 4px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            div:nth-child(2) {
                color: gray;
                font-size: 13px;
                margin-top: 3px;
                text-align: left;
                font-weight: 400;
            }
        }
    }

    .mode {
        /* border: 1px solid red; */


        label {
            border-radius: 60px;
            border: 1px solid grey;
            color: rgb(33, 33, 33);
            font-size: 1.1em;
            font-weight: 700;
            letter-spacing: 1px;
            display: flex;
            place-items: center;
            padding: 5px 10px;
            gap: 10px;
        }
    }

    .checkbox {
        display: none;
    }

    .checkbox:checked+label {
        border: 1px solid white;
        color: white;
    }

}

@media only screen and (max-width: 600px) {
    .nav {

        padding: 0px 3px;
        /* border: 2px solid red; */

        .cont {

            .navicon {
                /* outline: auto; */
                width: 35px;
                font-size: 1.9em;

                &:hover {
                    font-size: 2.0em;
                }
            }

            span {
                /* outline: auto; */
                max-width: 100px;
                font-size: 0.9em;
            }
        }

        .info {
            display: flex;
            height: 40px;
            transform: translateX(120px);
            transition: 0.2s;

            .photo {
                width: 40px;
                height: 40px;
            }

            .userinfo {
                max-width: 60px;
                padding: 0 4px;
                outline: auto;


                div {
                    font-size: 10px;
                    padding-left: 0px;
                    line-height: 12px;
                }
            }
        }

        .mode {
            transform: translateX(250px) scale(0.55);
            /* border: 1px solid red; */
        }

        &.narrow {

            .mode {
                transform: translateX(0px) scale(0.55);
            }

            .info {
                transform: translateX(-3px);
            }
        }
    }
}