@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s;
    height: 100vh;
    overflow: hidden;
    background: var(--maincolor);

    .clogo {
        position: relative;
        width: 100%;
        height: 110px;

        .li {
            height: 210px;
            overflow: hidden;
            color: aliceblue;

            .logo {
                text-align: center;
                font-size: 1.5em;
                line-height: 55px;
                display: inline-block;
                height: 100%;
            }

            .name {
                text-align: start;
                font-size: 1.1em;
                font-weight: 400;
                line-height: 55px;
            }
        }

    }

    .link {
        width: 100%;
        height: 100%;
        margin-top: 10px;

        .active {

            .li {
                background: #f0f0f0;
                color: var(--maincolor);
                margin-left: 10px;
                border-top-left-radius: 40px;
                border-bottom-left-radius: 40px;

                .name {
                    font-family: 'East Sea Dokdo', cursive;
                    font-size: 1.8em;
                }

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                }

                &::after {
                    bottom: -20px;
                    right: 10px;
                    border-top-right-radius: 20px;
                    box-shadow: 20px -20px 0px 20px #f0f0f0;
                }

                &::before {
                    top: -20px;
                    right: 10px;
                    border-bottom-right-radius: 20px;
                    box-shadow: 20px 20px 0px 20px #f0f0f0;
                }
            }
        }
        .li {
            display: inline-block;
            position: relative;
            transition: 0.3s;
            transition: color 0.4s, top 0s, right 0s, margin-left 0.6s;
            width: 100%;
            height: 50px;
            /* border: 1px solid yellow; */
            margin: 2px 0px;
            cursor: pointer;
            color: aliceblue;

            span {
                position: absolute;
                top: 0;
                height: 100%;
            }
            .logo {
                text-align: center;
                font-size: 1.5em;
                line-height: 55px;
                display: inline-block;
                height: 100%;
               
            }
            .name {
                text-align: start;
                font-size: 1.1em;
                font-weight: 400;
                line-height: 55px;
                
            }
        }
    }

}


.sidebar .clogo .li .logo {
    width: 120px;
    line-height: 100px;
}

.sidebar .company {
    transition: 0.5s;
    transform: scale(3.5);
}

.sidebar .clogo .li .name {
    width: 90px;
    font-size: 1.2em;
    font-weight: 700;
}


.sidebar .admin-panel>span span:nth-child(3) {
    position: absolute;
    right: 5px;
    top: 80%;
    transform: translate(-50%, -50%);
}

.sidebar .admin-panel .sub-menu {
    transform: translateX(15px);
}

@media only screen and (max-width: 600px) {
    .sidebar {
        width: 200px;
        font-size: 0.8em;
    }

    .sidebar.narrow {
        width: 0px;
    }

    .sidebar .link .name {
        font-size: 0.4em;
    }

    .sidebar .link .active .li .name {
        font-size: 2em;
    }

    .sidebar .clogo .li .logo {
        width: 120px;
        line-height: 100px;
    }

    .sidebar .link .li .logo {
        width: 60px;
        left: 0;
    }

    .sidebar .link .active .li .name {
        margin-left: -25px;
    }


}