* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: white;
    background-color: var(--background);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--maincolor);
  }
}


:root {
  --navheight: 70px;
  --navheightmobile: 60px;
  --sidebarwide: 210px;
  --sidebarnarrow: 75px;
  --footerheight: 25px;
  --footerheightmobile: 20px;
}

.light-theme {
  --maincolor: #0a3d62;
  --hovercolor: #012336;
  --background: #f0f0f0;
  --color: #2a2424;
  --sbc: #f0f0f0;
  --asbc: #0a3d62;
  --contrast: #151516;
  --tableborder: rgb(190, 185, 185);
  --editicon: rgb(7, 120, 182);
  --editiconbackground: rgba(7, 121, 182, 0.15);
  --printicon:rgb(16, 16, 149);
  --printiconbackground:rgba(38, 38, 201, 0.223);
  --deleteicon: rgb(220, 7, 25);
  --deleteiconbackground: rgba(220, 7, 25, 0.15);
  --tableevenbackground: #428dc339;
}

.dark-theme {
  --maincolor: #121212;
  --sbc: #d1d1d1;
  --asbc: #d1d1d1;
  --hovercolor: #323232;
  --background: #222;
  --color: #d1d1d1;
  --contrast: #d1d1d1;
  --tableborder: rgb(73, 72, 72);
  --editicon: rgb(7, 120, 182);
  --deleteicon: rgb(220, 7, 25);
  --printicon:rgb(9, 234, 152);
  --tableevenbackground: #3737378f;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: var(--contrast);
  width: 100%;
  /* font-size: 18px; */
  height: 100vh;
  overflow-x: hidden;
  user-select: none;

  >#print-container {
    /* border: 2px solid red; */
  }
}

:root {
  --default-color-white: #ffffff;
  --default-color-green: #3EB991;
  --default-color-blue: #6ECADC;
  --default-color-pink: #E01563;
  --default-color-orange: #E9A820;

  /* Dot */
  --dot-width: 20px;
  --dot-opacity: 0.75;
}

.preloder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  /* backdrop-filter: blur(7px); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;

  .u-positionAbsolute {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .SlackLoader {
    position: relative;
    transform: rotate(-15deg);
  }

  .SlackLoader-item {
    position: absolute;
    mix-blend-mode: multiply;

  }

  .SlackLoader-item:nth-child(1) {
    transform: rotate(0deg) translate(0, -20px) rotateY(1deg);

  }

  .SlackLoader-item:nth-child(1)>.SlackLoader-dot {
    background-color: #60cadd;
  }

  .SlackLoader-item:nth-child(2) {
    transform: rotate(90deg) translate(0, -20px) rotateY(1deg);
  }

  .SlackLoader-item:nth-child(2)>.SlackLoader-dot {
    background-color: #eea712;
  }

  .SlackLoader-item:nth-child(3) {
    transform: rotate(180deg) translate(0, -20px) rotateY(1deg);
  }

  .SlackLoader-item:nth-child(3)>.SlackLoader-dot {
    background-color: #e72b61;
  }

  .SlackLoader-item:nth-child(4) {
    transform: rotate(270deg) translate(0, -20px) rotateY(1deg);
  }

  .SlackLoader-item:nth-child(4)>.SlackLoader-dot {
    background-color: #25b791;
  }

  .SlackLoader-dot {
    position: inherit;
    width: 100px;
    height: 19px;
    margin-top: -9.5px;
    margin-left: -50px;
    border-radius: 20px;
    animation: SlackLoader-animation-step 2s ease infinite;
    will-change: width, transform;
  }
}

@keyframes SlackLoader-animation-step {
  28.3% {
    width: 19px;
    transform: translateX(0);
  }

  38.3% {
    width: 19px;
    transform: translateX(0);
  }

  62.6% {
    width: 19px;
    transform: translateX(80px);
  }

  71.6% {
    width: 19px;
    transform: translateX(80px);
  }
}

.dark-theme .preloder {
  background: rgba(0, 0, 0, 0.7);
}

.nav {
  height: var(--navheight);
  left: var(--sidebarwide);
  background: var(--background);
  color: var(--contrast);
  width: calc(100% - var(--sidebarwide));
  z-index: 51;
}

.nav.narrow {
  height: var(--navheight);
  left: var(--sidebarnarrow);
  width: calc(100% - var(--sidebarnarrow));
}

.sidebar {
  background: var(--maincolor);
  width: var(--sidebarwide);
}

.sidebar.narrow {
  width: var(--sidebarnarrow);
}

.sidebar.narrow .company {
  transform: scale(3) translateX(-4px);
}

.main {
  position: relative;
  height: calc(100vh - var(--navheight) - var(--footerheight));
  width: calc(100% - var(--sidebarwide));
  left: var(--sidebarwide);
  top: var(--navheight);
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.2s;
  background: var(--background);
}

.main.narrow {
  width: calc(100% - var(--sidebarnarrow));
  left: var(--sidebarnarrow);
}

.App.loader .main {
  overflow: hidden;
  /* border: 2px solid red; */
}

footer {
  position: relative;
  left: var(--sidebarwide);
  top: var(--navheight);
  width: calc(100% - var(--sidebarwide));
  height: var(--footerheight);
  line-height: calc(var(--footerheight) - 1px);
  transition: 0.2s;
  padding-right: 10px;
  font-size: .8em;
  border-top: 1px dotted #212529;
  background: var(--background);
  color: var(--color);
  z-index: 102;
  text-align: end;
}

footer.narrow {
  left: var(--sidebarnarrow);
  width: calc(100% - var(--sidebarnarrow));
}

.caps {
  text-transform: capitalize;
}

.sidebar .link .li .logo {
  width: var(--sidebarnarrow);
}

.sidebar .link .li .name {
  left: var(--sidebarnarrow);
  width: calc(var(--sidebarwide) - var(--sidebarnarrow));
}



.dark-theme .MuiButton-contained {
  background: var(--maincolor) !important;
  color: white !important;

  &:hover {
    background: var(--hovercolor) !important;
  }
}

.muibtn.outlined {
  color: var(--asbc) !important;
  border: 0.5px solid var(--asbc) !important;
  background: transparent !important;

  &:hover {
    box-shadow: inset 0 0 0 0.5px var(--maincolor) !important;
  }
} 
.dark-theme .muibtn.outlined{
  &:hover {
    box-shadow: inset 0 0 0 0.5px white !important;
  }
}

button:disabled {
  background: grey !important;
}

/* button:active,
button:hover {
  background: rgb(1, 35, 54);
} */

input {
  text-align: start !important;
}

@media only screen and (max-width: 600px) {
  * {
    &::-webkit-scrollbar {
      width: 2px;
    }
  }

  .sidebar {
    width: 200px;
  }

  .sidebar.narrow {
    width: 0px;
  }

  .nav {
    height: var(--navheightmobile);
    left: 200px;
    width: calc(100% - 200px);
  }

  .nav.narrow {
    height: var(--navheightmobile);
    left: 0;
    width: 100%;
  }

  .main {
    height: calc(100vh - var(--navheightmobile));
    top: var(--navheightmobile);
    width: 100%;
    left: 0px;
    /* border: 3px solid red; */
  }

  .main.narrow {
    width: 100%;
    left: 0px;
  }

  footer {
    left: 0;
    top: var(--navheightmobile);
    width: 100%;
    height: var(--footerheightmobile);
    padding-right: 2px;
    font-size: .6em;
    text-align: center;
  }

  footer.narrow {
    left: 0;
    width: 100%;
  }
}