@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: "Times New Roman", Times, serif; */
}
input{
  color: rgb(40, 37, 37);
}
:root {
  --navheight: 90px;
  --navheightmobile:70px;
  --sidebarwide: 230px;
  --sidebarnarrow: 90px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f0f0;
  position: relative;
  width: 100%;
  /* font-size: 18px; */
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  height: var(--navheight);
  left: var(--sidebarwide);
  width: calc(100% - var(--sidebarwide));
}

.nav.narrow {
  height: var(--navheight);
  left: var(--sidebarnarrow);
  width: calc(100% - var(--sidebarnarrow));
}

.sidebar {
  width: var(--sidebarwide);
}

.sidebar.narrow {
  width: var(--sidebarnarrow);
}

.sidebar.narrow .company {
  transform: scale(3.5) translateX(-4px);
}

.main {
  position: absolute;
  height: calc(100vh - var(--navheight));
  width: calc(100% - var(--sidebarwide));
  left: var(--sidebarwide);
  top: var(--navheight);
  overflow-x: hidden;
  overflow-y: auto;
  /* border: 3px solid rgb(244, 9, 48); */
  transition: 0.2s;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main.narrow {
  width: calc(100% - var(--sidebarnarrow));
  left: var(--sidebarnarrow);
}

.sidebar .link .li .logo {
  width: var(--sidebarnarrow);
}

.sidebar .link .li .name {
  left: var(--sidebarnarrow);
  width: calc(var(--sidebarwide) - var(--sidebarnarrow));
}
button{
  border: none;
   cursor: pointer;
   outline: none;
   padding: 5px 12px;
   color: white;
   font-size: 1.1em;
   font-weight: 500;
   letter-spacing: 1px;
   border-radius: 5px;
   background: #36a0f1;
   transition: 0.2s;
}
button:active,button:hover{
  transform: scale(0.96);
  background: rgb(5, 99, 137);
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 200px;
  }
  
  .sidebar.narrow {
    width: 0px;
  }

  .nav {
    height: var(--navheightmobile);
    left: 200px;
    width: calc(100% - 200px);
  }
  
  .nav.narrow {
    height: var(--navheightmobile);
    left: 0;
    width: 100%;
  }
  .main {
    position: absolute;
    height: calc(100vh - var(--navheightmobile));
    top: var(--navheightmobile);
    width: 100%;
    left: 0px;
  }
  .main.narrow {
    width: 100%;
    left: 0px;
  }
  
}