.adminexp{
    padding-top: 10px;

    .table {
        margin-top: 2px;
        width: 100%;
        position: relative;
        /* border: 1px solid red; */

        table {
            width: 100%;
            border-collapse: collapse;

            th,
            td {
                border: 1px solid rgb(190, 185, 185);
                text-align: center;
                cursor: pointer;
            }

            thead th,
            #foot th {
                height: 30px;
                padding: 0 2px;
            }

            thead i {
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                text-align: center;
                margin-left: 2px;
            }

            th.active {
                color: rgb(54, 19, 250);
            }

            thead,
            #foot {
                position: sticky;
                background: var(--maincolor);
                color: whitesmoke;
                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
            }

            #foot {
                bottom: 5px;
            }

            thead {

                th:nth-child(1),
                th:nth-child(8) {
                    width: 35px !important;
                }

                th:nth-child(7) {
                    max-width: 40px !important;
                }
                
                th:nth-child(6) {
                    width: 60px !important;
                }
                th:nth-child(4) {
                    width: 50px !important;
                }

                th:nth-child(2) {
                    width: 70px !important;
                }

                th:nth-child(3) {
                    width: 60px;
                }
                th:nth-child(5) {
                    width: 400px !important;
                }
            }
            tbody{

                td:nth-child(7){

                    i{
                        width: 25px;
                        margin: 0 auto;
                    }
                }
            }

            td {
                font-size: 0.9em;
                height: 25px;
                line-height: 25px;
            }

            .fa {
                font-size: 1.2em;
                transition: 0.1s;
                width: max-content;

                &.fa-eye {
                    color: #95afc0;
                }

                &.fa-pencil-square-o {
                    color: var(--maincolor);
                }

                &.fa-trash-o,
                &.fa-trash {
                    color: #eb4d4b;
                }

                &.fa-trash {
                    font-size: 1.5em;
                    transform: rotate(20deg);
                    transition: 0.1s;
                    color: white;

                    &:hover {
                        font-size: 1.6em;
                        color: var(--maincolor);
                    }
                }
            }
        }
    }
}