.allusers.admin {
    position: relative;
    padding: 10px;
    min-height: calc(100vh - var(--navheight) - var(--footerheight));
    /* border: 2px solid blue; */

    .head {
        padding: 5px;
        margin: 10px 0;

        input {
            padding: 5px;
            border-radius: 5px;
            outline: none;
            border: none;
            margin-left: 10px;
            border: 1px solid rgba(128, 128, 128, 0.77);
        }
    }

    span.status {
        font-weight: 700;
        display: inline-block;
        width: 40px;
        border-radius: 5px;
        height: 20px;
        text-align: center;
        background: rgba(221, 179, 100, 0.486);
        color: rgb(86, 56, 2);
    }

    .status.done {
        background-color: rgba(118, 234, 118, 0.4);
        color: rgb(3, 43, 3);
        /* border-right: 4px solid rgb(1, 59, 1); */
    }

    .ico {
        padding: 2px 5px;
        box-sizing: content-box;
        width: 17px;
        height: 17px;
        border-radius: .2rem;
        margin: 0 4px;
        cursor: pointer;
    }

    .ico.editicon {
        color: rgb(7, 120, 182);
        background: rgba(7, 121, 182, 0.116);

        &:hover {
            background: rgb(7, 120, 182);
            color: white;
        }
    }

    .ico.deleteicon {
        color: rgb(220, 7, 25);
        background: rgba(182, 7, 16, 0.116);

        &:hover {
            background: rgb(220, 7, 25);
            color: white;
        }
    }

}

@media only screen and (max-width: 600px) {
    .allusers.admin { padding: 5px;}
}