.logs {
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
    text-align: center;


    .body {
        display: flex;
        gap: 20px;
        padding: 10px;


        .loghead {
            /* border: 1px solid gray; */
            border-radius: 5px;
            width: 200px;
            text-align: left;


            div {
                border: 1px solid gray;
                margin-bottom: 10px;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
            }

            div.active, div:hover {
                background: var(--maincolor);
                color: white;
            }
        }

        .logdetail {
            flex: 1;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid gray;

            .row {
                display: flex;
                gap: 20px;
                margin: 10px;
                padding: 4px;
                border-radius: 5px;
                border: 1px solid gray;
            }
        }
    }
}